@model IEnumerable<StoreOfBuild.Web.ViewModel.CategoryViewModel>
@{
    ViewData["Title"] = "Category";
}
<br>
<br>
<div class="row header">
    <div class="col-md-12">
        <h3>Categories</h3>
        <a href="/Category/CreateOrEdit" class="btn btn-primary">New</a>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <table class="table table-hover">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">"Name"</th>
                </tr>
            </thead>
            <tbody>

            @foreach (var item in @Model)
            {
            <tr>
                <td> @Html.DisplayFor(i => item.Id) </td>
                <td> @Html.DisplayFor(i => item.Name) </td>
                <td>
                    <a asp-action="CreateOrEdit" asp-route-id="@item.Id">Edit</a> |
                    <!---<form asp-action="Delete" asp-controller="Category" method="POST">
                        <input type="hidden" name="id" value="@item.Id">
                        <button type="submit" class="btn btn-link" role="link">Delete</button>
                    </form>-->
                </td>
            </tr>
            }
            </tbody>
        </table>
    </div>
</div>